<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary_edit</title>
</head>

<body>
    <h1>日記Webアプリ📖</h1>
    <h2>日記の編集✏️</h2>
    <form method="POST" enctype="multipart/form-data"> <!-- <form>　= 入力されたデータを、指定したURLに、指定した方法で送信する箱 -->
        <div>
            <label for="title">タイトル</label>
        </div>
        <div>
            <input type="text" id="title" name="title" value="{{ article.title }}"> <!--二重括弧内部はデータベースからpython経由できた情報-->
            <!--nameは入力された情報をpythonが認識するための変数名-->
            <!--idとforの中身を同じにすることで、inputとlabelタグが結びつく-->
        </div>
        <div>
            <label for="body">本文</label>
        </div>
        <div>
            <textarea id="body" name="body" rows="10" cols="50">{{ article.body }}</textarea>
        </div>
        <input type="submit" name="edit_post" value="更新"> <!--投稿ボタン-->
    </form>
    <br>
    <div><a href="{{url_for('index')}}">トップページ</a></div>
</body>

</html>