<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>日記Webアプリ📖</h1>
    <h2>ログイン🔐</h2>
    <p>{{msg}}</p>
    <form method="POST">
        <div>
            <label for="user_name">ユーザー名</label>
            <input type="text" id="user_name" name="user_name">
        </div>
        <div><label for="password">パスワード</label>
            <input type="text" id="password" name="password">
        </div>
        <div><input type="submit" value="ログイン"></div>
    </form>
</body>

</html>