<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diary_readmore</title>
</head>


<body>
    <h1>日記Webアプリ📖</h1>
    <h2>日記の閲覧👀</h2>
    <h3>{{ article.title }}</h3>
    <h4>{{ article.created_at }}</h4>
    <p>{{ article.body }}</p>
    {% if article.img_name %}
    <img src="{{ url_for('static', filename='img/' ~ article.img_name) }}" width="500">
    {% else %}
    画像なし
    {% endif %}
</body>

</html>